* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

#container {
  padding: 1em;
}

input, button {
  border: solid 1px #333;
  padding: .2em;
}
input[type=text] {
  margin-bottom: 2em;
}
#buttons {
  margin-top: .5em;
}
button {
  margin: 0;
  border: solid .1em #000;
  /*margin: .2em;
  width: calc(25% - .4em);*/
  width: 25%;
  font-size: 1.25em;
}
button[type=submit] {
  background: #38c;
  width: 100%;
}
button:hover {
  color: #fff;
  cursor: pointer;
}
button[type=submit]:hover {
  background: #26a;
}
form [name=url] {
  width: 100%;
}

ul {
  font-size: 90%;
}
li.selected {
  background: #333;
}

a {
  color: #ccf;
}
a:visited {
  color: #aad;
}
a:hover {
  text-decoration: none;
}
